.container6 {


    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
   


.sub_container1 {

width: 60%;
display: flex;
flex-direction: row;
margin-right: 0.9375rem;
justify-content: space-between;
flex-wrap: wrap;
min-width: 40%;

}
}