
body {

    width: 100%;
    background-color: #FFFFEA; /* For browsers that do not support gradients */
 
   
}

.main-container {
z-index: 1;
}

.container-size{
position: absolute;
margin: 150px;

background: #00CECB;
width: 200px;
height: 800px;
border-radius: 50px;

}

nav {
    position: sticky;
}

/* img {
   max-width: 100%;

} */
.square-base{

background: #D8D8D8;
width: 600px;
height: 400px;
z-index: -2;
}

.square1{

    height:500px;


}


