body {

    width: 1000px;
    height: 900px;
    background-color: rgb(216, 216, 216);



}


.fixedbar {

    position: fixed;
    width: 100vw;
}

.color {

    width: 1000px;
    height: 1200px;
    background-color:rgb(255, 255, 234);

}

.container-fluid {


    width: 1500px;
    height: 1500px;
}